#wrapper{
  display:flex;
}

#listPane{
  background-color:green;
  flex: 0 0 50%;
  height:100px;
}

#infoPane{
  background-color:blue;
  flex: 1;
}

#login {
  display: none;
}

#loggedin {
  display: none;
}

#login, #loggedin {
  display: none;
}

#playlistButton{
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
