#authenticatorPanel {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  z-index: 25;
  background-color: black;
  border-color: #1DB954;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  color: #EDFFAB;
}
